.mdrom{
    font-size: 14px;
    font-family: 'pingfang';
    color: #140e35cc;
}

.mdrom *{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mdrom h3{
    color: #000;
    font-size: 20px;
    margin-top: 40px;
}

.mdrom strong {
    color: black;
}

.mdrom a{
    color: #3162FFFF;
    text-decoration: underline;
}