@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.emerald.300');
    --shiki-token-string: theme('colors.emerald.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.emerald.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
.swiper {
  width: 100%;
  height: 100%; 
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

 @keyframes typing {
   from {
     width: 0;
   }

   to {
     width: 100%;
   }
 }

.typewriter {
  width: fit-content;
  overflow: hidden; 
  white-space: nowrap; 
  letter-spacing: .15em; 
  animation: typing 2s steps(30, end);
  text-align: left;
  color: white; 
  position: relative;
}

@keyframes blink {
  0%, 50% { background-color: transparent; }
  51%, 100% { background-color: white; }
}

.blink {
  position: absolute; /* 绝对定位光标 */
  top: 15px;
  right: 0;
  width: .15em; /* 光标宽度 */
  height: 1.2em; /* 与文字行高一致 */
  background-color: white; /* 光标颜色 */
  animation: blink 1s steps(30, end) infinite;
}